@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

@section PageCSS {
    <link rel="stylesheet" href="~/css/RegisterPage.css" />
}


<section id="Register" class="flex-grow-1 d-flex flex-column">
    <div class="d-flex flex-grow-1 h-100 justify-content-center">
        <div class="align-self-center container-fluid h-auto">
            <div class="row mt-5">
                <p class="mx-auto" style="font-size:30pt; font-weight:400">Sign Up</p>
            </div>
            <div class="row my-3">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <form method="post" class="card rounded shadow">
                        <div asp-validation-summary="All" class="text-danger mx-3 mt-3 mb-0"></div>
                        <div class="form-group m-3">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group m-3">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group m-3">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-center mx-3 my-4">
                            <button type="submit" class="btn btn-lg btn-block btn-primary">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

