@model ReservationViewModel

@{
    ViewData["Title"] = "Confirm Table Reservation";
}

@section PageCSS {
    <link rel="stylesheet" href="~/css/TableCreatePage.css" />
}

<section class="flex-grow-1 d-flex flex-column">
    <div class="d-flex flex-grow-1 h-100 justify-content-center">
        <div class="align-self-center container-fluid h-auto">
            <div class="row mt-5">
                <p class="mx-auto" style="font-size:30pt; font-weight:400">Reservation Confirm</p>
            </div>
            <div class="row my-3">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <form method="post" asp-action="Create" class="card rounded shadow">
                        <input type="text" hidden asp-for="ReservationEnd" />
                        <input type="text" hidden asp-for="ReservationStart" />
                        <input hidden asp-for="NumberOfPeople" />
                        <input hidden asp-for="TableId" />
                        <div class="row">
                            <div class="col-12 text-center">Reservation Time</div>
                            <div class="col-6 text-center">
                                <p id="ReservationStartText"></p>
                            </div>
                            <div class="col-6 text-center">
                                <p id="ReservationEndText"></p>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col-6 text-center"># People: @Model.NumberOfPeople</p>
                            <p class="col-6 text-center">Table Number: @ViewBag.TableNumber</p>
                            <p class="col-12 mx-3">Table Description: @ViewBag.Description</p>
                        </div>
                        <div class="text-center mx-3 my-4">
                            <button type="submit" class="btn btn-lg btn-block btn-primary">Confirm</button>
                            <a asp-action="Index" asp-controller="Home" class="mt-2 btn btn-lg btn-block btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $("#ReservationStartText")[0].innerHTML = new Date($("#ReservationStart")[0].value);
        $("#ReservationEndText")[0].innerHTML = new Date($("#ReservationEnd")[0].value);
    </script>

}