@model List<Table>

@if (!Model.Any())
{
    <span class="error"><em>Sorry. There are no tables available for this time period</em></span>
}
else
{
    <div class="my-3 mx-2 w-100 row"><h6>Following are the avaiable table options:</h6></div>
    <div id="tables" class="w-100 row">
    @foreach (Table table in Model)
    {
        <a class="w-100 col-md-3 m-2 p-2 text-center btn-primary btn" style="color:white" data-table-id="@table.TableId">
            @table.TableNumber
        </a>
    }
    </div>
}
